* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
}

